<%= render 'upload_form'%>

<h1>Listing drawings</h1>

<table>
  <tr>
    <th>Project</th>
    <th>Location</th>
    <th>Drawing</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @drawings.each do |drawing| %>
  <tr>
    <td><%= drawing.project %></td>
    <td><%= drawing.location %></td>
    <td><%= drawing.drawing %></td>
    <td><%= link_to 'Show', drawing %></td>
  </tr>
<% end %>
</table>

<br />
